# Environments
.env
.venv
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version
